In [86]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from scipy import stats
import os
import json
from pandas import json_normalize

#에스토니아의 와인소비량이 전세계평균량과 상관관계가 있을수 있다.

In [87]:
url = "https://raw.githubusercontent.com/yoonkt200/python-data-analysis/master/data/drinks.csv"
df = pd.read_csv(url)
df.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

In [88]:
# Filling missing values in 'continent' column with 'Unknown'
df['continent'].fillna('Unknown', inplace=True)

# Check if the missing values are filled
updated_missing_values = df.isnull().sum()
updated_missing_values

country                         0
beer_servings                   0
spirit_servings                 0
wine_servings                   0
total_litres_of_pure_alcohol    0
continent                       0
dtype: int64

In [89]:
df.shape

(193, 6)

In [90]:
df.isna().sum() #결측치 확인

country                         0
beer_servings                   0
spirit_servings                 0
wine_servings                   0
total_litres_of_pure_alcohol    0
continent                       0
dtype: int64

In [91]:
#필요한 열 남기기
df = df.loc[:,['continent','country','beer_servings','wine_servings',]]
df

    continent      country  beer_servings  wine_servings
0          AS  Afghanistan              0              0
1          EU      Albania             89             54
2          AF      Algeria             25             14
3          EU      Andorra            245            312
4          AF       Angola            217             45
..        ...          ...            ...            ...
188        SA    Venezuela            333              3
189        AS      Vietnam            111              1
190        AS        Yemen              6              0
191        AF       Zambia             32              4
192        AF     Zimbabwe             64              4

[193 rows x 4 columns]

In [92]:
# 결측치 없애는 작업
df.fillna(value=0,inplace=True) 
df.head()

  continent      country  beer_servings  wine_servings
0        AS  Afghanistan              0              0
1        EU      Albania             89             54
2        AF      Algeria             25             14
3        EU      Andorra            245            312
4        AF       Angola            217             45

In [93]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   continent      193 non-null    object
 1   country        193 non-null    object
 2   beer_servings  193 non-null    int64
 3   wine_servings  193 non-null    int64
dtypes: int64(2), object(2)
memory usage: 6.2+ KB

In [94]:
t_statistic, p_value = stats.ttest_ind(df['wine_servings'], df['beer_servings'])
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: -6.118196818166092
P-value: 2.3346193715127866e-09

In [95]:
# 전세계 평균에서 벗어나지않는 나라들

# URL of the dataset
url = 'https://raw.githubusercontent.com/yoonkt200/python-data-analysis/master/data/drinks.csv'

# Load the dataset from the URL
data = pd.read_csv(url)

# Setting a significance level
alpha = 0.05

# Performing T-tests for each country
significant_countries = []
for index, row in data.iterrows():
    t_stat, p_val = stats.ttest_1samp(data['wine_servings'], row['wine_servings'])
    if p_val > alpha:
        significant_countries.append(row['country'])

print("Countries with wine servings not significantly different from the global average:")
for country in significant_countries:
    print(country)

Countries with wine servings not significantly different from the global average:
Albania
Angola
Antigua & Barbuda
Bahamas
Belarus
Estonia
Gabon
Lithuania
Poland
Seychelles
Ukraine

In [96]:


# URL of the dataset
url = 'https://raw.githubusercontent.com/yoonkt200/python-data-analysis/master/data/drinks.csv'

# Load the dataset from the URL
data = pd.read_csv(url)

# List of countries with wine servings not significantly different from the global average
significant_countries = ['Albania', 'Angola', 'Antigua & Barbuda', 'Bahamas', 'Belarus', 'Estonia', 'Gabon', 'Lithuania', 'Poland', 'Seychelles', 'Ukraine']

# Calculate T-statistic for each country
t_statistics = {}
for country in significant_countries:
    wine_servings = data[data['country'] == country]['wine_servings'].values[0]
    t_statistic, _ = stats.ttest_1samp(data['wine_servings'], wine_servings)
    t_statistics[country] = t_statistic

# Display T-statistics for each country
for country, t_statistic in t_statistics.items():
    print(f"T-statistic for {country}: {t_statistic:.2f}")

T-statistic for Albania: -0.79
T-statistic for Angola: 0.78
T-statistic for Antigua & Barbuda: 0.78
T-statistic for Bahamas: -0.27
T-statistic for Belarus: 1.30
T-statistic for Estonia: -1.66
T-statistic for Gabon: -1.66
T-statistic for Lithuania: -1.14
T-statistic for Poland: -1.14
T-statistic for Seychelles: -0.27
T-statistic for Ukraine: 0.78

In [97]:
import pandas as pd
from scipy import stats

# URL of the dataset
url = 'https://raw.githubusercontent.com/yoonkt200/python-data-analysis/master/data/drinks.csv'

# Load the dataset from the URL
data = pd.read_csv(url)

# List of countries with wine servings not significantly different from the global average
significant_countries = ['Albania', 'Angola', 'Antigua & Barbuda', 'Bahamas', 'Belarus', 'Estonia', 'Gabon', 'Lithuania', 'Poland', 'Seychelles', 'Ukraine']

# Calculate p-value for each country
p_values = {}
for country in significant_countries:
    wine_servings = data[data['country'] == country]['wine_servings'].values[0]
    _, p_value = stats.ttest_1samp(data['wine_servings'], wine_servings)
    p_values[country] = p_value

# Display p-values for each country
for country, p_value in p_values.items():
    print(f"P-value for {country}: {p_value:.6f}")

P-value for Albania: 0.428759
P-value for Angola: 0.438801
P-value for Antigua & Barbuda: 0.438801
P-value for Bahamas: 0.787410
P-value for Belarus: 0.195578
P-value for Estonia: 0.097630
P-value for Gabon: 0.097630
P-value for Lithuania: 0.255032
P-value for Poland: 0.255032
P-value for Seychelles: 0.787410
P-value for Ukraine: 0.438801

In [ ]:
# 에스토니아의 경우 p-value 유의확률이 0.098로 나타나서 유의수준 5%에서 대립가설을 기각할 수 있다. 즉, 에스토니아의 와인소비량은 전체평균과 비슷하다고 할수 없다.